@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Livvic-bold;
  src: url(../../fonts/Livvic/Livvic-Bold.ttf);
}
@font-face {
  font-family: Livvic-Regular;
  src: url(../../fonts/Livvic/Livvic-Regular.ttf);
}
